/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
` h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ================General styling======================== */

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto';
    height: 1hr;

}

a {
    text-decoration: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;

}



#user {
    font-size: 40px;
    color: red;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;


}

.user-welcoming p {
    color: blue;
    text-align: center;
    font-weight: 300;
}



.Software {
    border-radius: 50px
}

#software-name {
    font-size: 35px;
    padding: 20px 0 20px 0;
    color: green;
    font-weight: 700;
    background-color: #f2f2ff;
    padding-left: 66px;
    border-radius: 15px;
}

#software-name:hover {}


.description p {
    padding: 20px 0 20px 0;
    color: tomato;
    font-weight: 200;
    background-color: #f2f2f2;
    padding: 66px;
    line-height: 2;
    font-size: 20px;
    border-radius: 20px;
    height: 360px;

}



#website-link {
    font-size: 25px;

}



.download-btn {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
}

.download-btn a {
    color: #B469F7;
    margin: 10px 30px;
    font-size: 20px;
    padding: 15px;
    border-radius: 50px;
    background: linear-gradient(145deg, #e0e1e1, #ffffff);
    box-shadow: 20px 10px 25px #eaebeb,
        -20px -10px 25px #ffffff;
}


.random-software-generate {
    background: linear-gradient(266.78deg, #60D77A 9.25%, #2FB94D 93.72%);
    width: 100%;
    height: 55px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: grid;
    align-items: center;
    justify-content: center;


}

#random-generate {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    color: white;
}